/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-tight-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-tight-v3-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-tight-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-tight-v3-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-tight-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter Tight";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/inter-tight-v3-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-tight-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-tight-v3-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 2px dotted var(--orange-color);
  outline-offset: 5px;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}
:root {
  --orange-color: #f58a07;
  --section-bg: #dceaf5;
  --title-black: #0d1317;
  --title-dark-blue: #1d3444;
  --main-body-color: #5b5b5b;
  --border-pale-color: #a8bccc;
  --white-color: #fff;
  --main-font: "Poppins" sans-serif;
  --secondary-font: "Inter", sans-serif;
  --footer-color: rgba(255, 255, 255, 1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style: none;
}
img {
  display: flex;
  object-fit: cover;
}
.container {
  width: 100%;
  max-width: 1380px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5rem;
  padding-left: 5rem;
}
main {
  flex-grow: 1;
}
.active {
  color: var(--orange-color) !important;
}
.btn {
  border-radius: 3.1rem;
  padding: 1.8rem 3.2rem;
  font-weight: 600;
  transition: 0.3s;
}
.btn:hover {
  transform: rotate(-5deg);
}

.header {
  background-color: var(--white-color);
}
.header__wrapper {
  display: flex;
  align-items: center;
  padding-top: 3rem;
}
.header__logo_link {
  display: block;
  margin-right: auto;
}
.header__site-nav_list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.header__wrapper_in {
  margin-right: 4rem;
}
.header__site-nav_link {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #394149;
  transition: 0.3s;
}
.header__site-nav_link:hover {
  color: var(--orange-color);
}
.header__clean-project_btn {
  margin-left: 4rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.065;
  color: var(--orange-color);
  background-color: rgba(245, 138, 7, 0.1);
  padding: 1.8rem 3.2rem;
  border-radius: 3.1rem;
}
/* SECTION LATEST BLOG START */

.latest-blog {
  background-color: rgba(220, 234, 245, 1);
}

.latest-blog__title {
  padding-top: 9.6rem;
  margin-bottom: 6.4rem;
}
.latest-blog__wrapper_in {
  display: flex;
  gap: 4rem;
  padding-bottom: 9.6rem;
}
.latest-blog__bg {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.latest-blog__img-left {
  width: 40rem;
}
.latest-blog__text_wrapper {
  width: 100%;
  max-width: 400px;
  padding: 3.2rem;
}
.latest-blog-wrapper-in__title {
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--title-black);
  margin-bottom: 1.6rem;
  letter-spacing: -3%;
}
.latest-blog-wrapper-in__text {
  font-size: 1.6rem;
  color: var(--main-body-color);
  margin-bottom: 2.4rem;
}
.wrapper-in__arrow_box {
  display: flex;
  gap: 0.8rem;
}
.latest-blog-wrapper-in__link {
  font-size: 1.6rem;
  line-height: 1.065;
  color: var(--orange-color);
}
.latest-blog-wrapper-in__img_arrow {
  object-fit: contain;
}

/* SECTION LATEST BLOG END */

/* FOOTER START */
.footer {
  background-color: rgba(6, 50, 85, 1);
  background-image: url(../images/bg-orange-right.png),
    url(../images/bg-orange-left.png);
  background-repeat: no-repeat;
  background-position: right top 3.2rem, left bottom;
}
.footer__wrapper-container {
  display: flex;
  padding-top: 8.2rem;
  margin-bottom: 8rem;
}
.footer__wrapper_left {
  display: block;
  margin-right: auto;
  width: 100%;
  max-width: 351px;
}
.footer__logo-link {
  margin-bottom: 3.2rem;
}
.footer__logo {
}
.footer__title {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 1.222;
  letter-spacing: -3px;
  color: var(--footer-color);
  margin-bottom: 3.2rem;
}
.footer__icon_wrapper {
  display: flex;
  gap: 1.6rem;
}
.footer__icon_img {
}
.footer__wrapper_company {
  margin-right: 10rem;
}
.footer__company_title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--footer-color);
  margin-bottom: 2.4rem;
}
.company__list {
}
.company__item {
}
.company__link {
  line-height: 1.5;
  color: var(--footer-color);
  transition: 0.3s;
}
.company__link:hover {
  color: var(--orange-color);
}
.company__link:not(:last-child) {
  margin-bottom: 1.6rem;
}
.footer__wrapper_connect {
  display: flex;
  flex-direction: column;
  margin-right: 13.7rem;
}
.connect__title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--footer-color);
  margin-bottom: 2.6rem;
}
.connect__email_link {
  line-height: 1.5;
  color: var(--footer-color);
  margin-bottom: 1.6rem;
}
.connect__tel-number_link {
  line-height: 1.5;
  color: var(--footer-color);
}
.footer__form_join {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 342px;
}
.join__title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--footer-color);
  margin-bottom: 2.4rem;
}
.footer__input {
  margin-bottom: 1.6rem;
  padding: 1.8rem 0rem 1.8rem 3.2rem;
  border-radius: 3.1rem;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  color: rgba(156, 156, 156, 1);
}
.join__button {
  width: 100%;
  max-width: 156px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.065;
  color: var(--footer-color);
  padding: 1.8rem 3.2rem;
  background-color: rgba(245, 138, 7, 1);
  border: none;
}
.footer__text_end {
  padding-bottom: 8rem;
  display: flex;
  align-items: center;
}
.text-end__left {
  line-height: 1.5;
  color: var(--footer-color);
  margin-right: auto;
}
.text-end__right {
  line-height: 1.5;
  color: var(--footer-color);
}
.text-end__right:not(:last-child) {
  margin-right: 3.2rem;
}
/* FOOTER END */
